# Laravel API URL
NEXT_PUBLIC_API_URL=http://localhost:8000/api

# OpenAI API Key (Chatbot için)
OPENAI_API_KEY=your_openai_api_key_here

# Next.js
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3000
